.items {
    width: 350px;
}

.items img:hover {
    transform: scale(1.1);
    transition: 0.8s ease;
}

.items img {
    border-radius: 10px;
    cursor: pointer;
}

.items p {
    margin-top: 10px;
}

.item-prices {
    display: flex;
    gap: 10px;
    margin-top: 2px;
}

.item-new-price {
    font-size: 20px;
    font-weight: 600;
    color: #ff4141;
}

.item-old-price {
    font-size: 20px;
    font-weight: 600;
    color: #8e8d8d;
    text-decoration: line-through;
}