.product-display {
    display: flex;
    gap: 40px;
}

.product-display-left {
    display: flex;
    gap: 20px;
}

.product-display-left-mini {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-display-left-mini img {
    height: 150px;
    border-radius: 10px;
}

.product-display-left-larg img {
    height: 660px;
    border-radius: 20px;
}

.product-display-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-display-right h1 {
    width: 500px;
}

.product-display-rating {
    display: flex;
    gap: 10px;
}

.product-display-price {
    display: flex;
    gap: 10px;
}

.product-display-old-price {
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
    color: #b8b7b7;
}

.product-display-new-price {
    font-size: 16px;
    font-weight: 600;
    color: #ff4141;
}

.product-display-right p {
    width: 500px;
}

.product-display-size h3 {
    margin-bottom: 10px;
}

.product-display-sizes {
    display: flex;
    gap: 10px;
}

.product-display-sizes div {
    padding: 7px 12px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    background: hsla(0, 0%, 0%, 0.05);
    cursor: pointer;
}

.product-display-right button {
    width: 180px;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #ff4141;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.product-display-right button:active {
    background: #c11111;
}