.related-product {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
}

.related-product h1 {
    font-size: 50px;
}

.related-product hr {
    width: 150px;
    height: 5px;
    border: none;
    border-radius: 10px;
    background: #000;
    margin-bottom: 20px;
}

.related-product-item {
    display: flex;
    gap: 20px;
}