.login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-signup-container {
    padding: 50px;
    width: 420px;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 0px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    border-radius: 20px;
}

.login-signup-container p {
    margin-top: 15px;
}

.login-signup-input-fields {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 400px;
}

.login-signup-input-fields input {
    font-size: 20px;
    outline: none;
    border: 1px solid #e5e4e4;
    padding: 10px;
    border-radius: 5px;
}

.login-signup-input-fields input:not(:last-child) {
    margin-bottom: 30px;
}

.login-signup-container button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    width: 400px;
    height: 40px;
    margin: 15px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #ff4141;
    cursor: pointer;
}

.login-signup-container button:active {
    background: #dd2727;
}

.login-signup-container span {
    font-weight: 600;
    color: #ff4141;
    cursor: pointer;
}

.login-signup-container span:active {
    color: #d32626;
}

.privacy-agree {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.privacy-agree h3 {
    font-size: 14px;
    margin-top: 7px;
    color: #717070;
    margin-bottom: 6px;
}