.offers {
    display: flex;
    height: 60vh;
    width: 82.5%;
    margin: 50px 150px;
    border-radius: 20px;
    background: linear-gradient(90deg,#eae9e9, #e1ffea22 60%);
}

.offer-left {
    flex: 1;
    margin: 100px 130px;

}

.offer-left h1 {
    font-size: 70px;
    
}

.offer-left h3 {
    font-size: 13px;
    font-weight: 400;
    margin: 10px 5px;
}

.offer-left p {
    margin: 17px 5px;
    background: #ff4141;
    width: 100px;
    padding: 10px 40px;
    border-radius: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.offer-right {
    margin-right: 80px;
}