.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    cursor: pointer;
}

.nav-logo p {
    color: rgb(49, 209, 9);
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}




.nav-menu hr {
    border: none;
    width: 60px;
    height: 1px;
    margin-top: -7px;
    border-radius: 10px;
    background: #ff4141;
   
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 130px;
    height: 50px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 600;
    background: white;
    cursor: pointer;

}

.nav-login-cart button:active {
    background: #f7f5f5;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -50px;
    background: #ff4141;
    border-radius: 11px;
    font-size: 14px;
    font-weight: 600;
    color: #f7f5f5;
}

.navbar .drop-menu {
    display: none;
}

/* ============================
        MEDIA QUERY
============================ */

/* ============================
        Screen Size 1280
============================ */

@media(max-width:1280px) {
    .navbar {
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
       
    }

    .nav-login-cart {
        gap: 40px;
    }

    .nav-login-cart button {
        width: 100px;
        height: 35px;
        font-size: 14px;
    }

    .nav-login-cart img {
        width: 30px;
        height: 30px;
    }

    .nav-login-cart .nav-cart-count {
        /* background: rgb(49, 209, 9); */
        font-weight: 800;
        font-size: 12px;
        width: 17px;
        height: 17px;
    }
}

/* ============================
        Screen Size 1040
============================ */

@media(max-width:1024px) {
    .navbar {
        padding: 12px 30px;
    }

    .nav-menu {
        gap: 25px;
        font-size: 14px;
    }

    .nav-login-cart button {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }

    .nav-login-cart img {
        width: 25px;
        height: 25px;
    }

    .nav-login-cart .nav-cart-count {
        font-weight: 700;
        font-size: 12px;
        width: 16px;
        height: 16px;
        margin-top: -30px;
        margin-left: -45px;
    }
}

/* ============================
        Screen Size 800
============================ */

@media(max-width:800px) {
    .navbar {
        padding: 10px 0px;
    }

    .navbar .drop-menu {
        display: block;
        width: 30px;
        height: 30px;
        align-self: center;
        justify-self: center;
        cursor: pointer;
        transition: 0.5s;
    }

    .nav-menu {
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background: #fff;
        justify-content: center;
        top: 60px;
        box-shadow: 2px 3px 4px hsla(0, 0%, 0%, 0.2);
        transition: 0.1s;
    }

    .nav-menu-visible {
        display: flex;
    }

    .drop-menu.open {
        transform: rotate(90deg);
    }
}


/* ============================
        Screen Size 500
============================ */
@media(max-width:500px) {
    .navbar {
        padding: 8px 0px;
    }

    .navbar .nav-logo p {
        display: none;
    }

    .nav-menu {
        height: 70px;
        top: 50px;
        left: -40px;
    }

    .nav-login-cart {
        transform: scale(0.9);
        align-items: center;
    }

    .nav-login-cart img {
        margin-top: 8px;
    }

    .nav-login-cart .nav-cart-count {
        margin-top: -30px;
    }
}