.hero {
    display: flex;
    background: linear-gradient(90deg,#eae9e9, #e1ffea22 60%);
    height: 100vh;
}

.hero-left {
    flex: 1;
    margin: 170px 200px;
    /* padding: 20px; */
}

.hero-left h1 {
    font-size: 16px;
}

.hero p {
    font-size: 70px;
    font-weight: 600;
    margin: 10px 0;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    height: 70px;
    width: 70px;
}

.hero-arrow-icon {
    display: flex;
    gap: 20px;
    width: 220px;
    padding: 10px;
    margin-top: 25px;
    background: #ff4141;
    border-radius: 50px;
}

.hero-arrow-icon h3 {
    color: #fff;
    padding-left: 10px;
}

.hero-arrow-icon img {
    width: 40px;
}

.hero-right {
    margin-right: 100px;
}