.news-letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 81%;
    height: 30vh;
    margin: 100px 150px;
    border-radius: 20px;
    gap: 20px;
    background: linear-gradient(90deg,#eae9e9, #e1ffea22 60%);
}

.news-letter-input {
    display: flex;
    /* gap: 50px; */
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #fff;
}

.news-letter-input input {
    width: 320px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 50px;
}

.news-letter-input button {
    width: 130px;
    background: #000000;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}